.App{
  margin-top:80px;
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
}
.page {
  max-width: 1080px;
  .page-content{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  h1{
    margin-bottom: 5rem;
    width: 1080px;
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
  }
  p{
    margin-bottom: 5rem;
    width: 1080px;
    font-size: 1.2em;
  }
}

.bold-text{
  font-weight: bold
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.left{
  flex: column;

}
.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}