.p-container{
  display:flex;
  justify-content: space-around;
  width:700px;
  margin-top:1rem;

}
.d-container{
  border: 1px solid #1a1a1a;
  border-radius: 1rem;
  margin-top:1rem;
  padding: 1rem;
  width:800px;

}